{% extends 'navbar.html' %}
{% block title %}Products{% endblock%}
{% block body %}

    <div style="display:ruby;margin-top: 10px;margin-left: 30px;">
      
        <!-- {% for p in prod %}
        <div style="width: 200px;height: 350px;border: 1px solid gray;margin:10px;">
            <a href="/viewProdDetail/{{p.id}}"><img src="{{p.P_Image}}" alt="" style="width: 200px;height: 200px;"><br/>
            {{p.P_Name}}<br/>{{p.P_Description}}<br/>Price  {{p.P_Price}}<br/>Avialable size {{p.P_Size}}<br/>
        </a>
        </div>
        {% endfor %} -->
        <h1>Added to Cart</h1>
    </div>
{% endblock%}