
    {% extends 'navbar.html' %}
    {% block title %}Home{% endblock %}
    {% block body %}
    
    
    <div style="display: flex;margin-left: 30px;">
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\earring.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        
        <div>
            <img src="static\images\bag_style.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        <div>
            <img src="static\images\cosmetics1.jpg" style="width: 100px;height: 100px;padding-right: 10px;padding-top: 10px;" alt=""><br/>
            <a href="" >Add To Cart</a>
        </div>
        </div>
    </div>
{% endblock %}