{% extends 'navbar.html' %}
{% block title %}Register{% endblock %}
{% block body %}
    {% if messages %}
    {% for message in messages %}
    {{message}}
    {% endfor %}
    {% endif %}
    <form method="POST" enctype="multipart/form-data" style="margin-top: 20px;margin-left: 400px;background-color:rgb(175, 165, 240);color:blueviolet;width: 400px;height: fit-content;border: 5px solid blueviolet;border-style: double;">
        {% csrf_token %}
        <div style="margin-left: 20px;margin-right: 20px;">
            <div><label for=""><h3>Register</h3></label></div><hr><br/>
            <div style="display: flex;">
                <label style="width: 175px;height: fit-content;">Name</label><label>:</label>
                <input type="text" name="name" style="width: 175px;">
            </div><br/><br/>
            <div style="display: flex;">
                <label style="width: 175px;height: fit-content;">Profile Picture</label><label>:</label>
                <input type="file" name="profilepic" style="width: 175px;">
            </div><br/><br/>
            <div  style="display: flex;">
                <label style="width: 175px;">Email</label><label>:</label>
                <input type="email" name="email" style="width: 175px;">
            </div><br/><br/>
            <div style="display: flex;">
                <label  style="width: 175px;">password</label><label>:</label>
                <input type="password" name="password" style="width: 175px;">
            </div><br/><br/>
            <div style="display: flex;">
                <label style="width: 175px;">Confirm Password</label><label>:</label>
                <input type="password" name="cpassword" style="width: 175px;">
            </div><br/><br/>
            <div style="display: flex;">
                <label style="width: 175px;">Address</label><label>:</label>
                <input type="text" name="address" style="width: 175px;" required>
            </div><br/><br/>
            <div style="display: flex;">
                <label style="width: 175px;">PIN</label><label>:</label>
                <input type="text" name="pin" style="width: 175px;" required>
            </div><br/><br/>
            <div style="display: flex;">
                <label style="width: 175px;">Phone Number</label><label>:</label>
                <input type="text" name="phone" style="width: 175px;" required>
            </div><br/><br/>
            <div>
                <button type="submit" style="background-color: rgb(114, 104, 164);color:white ; height: 40px;width: 80px;margin-left: 120px;">Register</button>
            </div><br/><br/>
        </div>
    </form>
    {% endblock %}